<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
          <a class="navbar-brand" aria-current="page" href="http://localhost:3000/api/articulos">Articulos</a>
          <a class="navbar-brand" href="http://localhost:3000/api/polizas">Polizas</a>
          <a class="navbar-brand" href="http://localhost:3000/api/movimientos">Movimientos</a>
    </div>
</nav>